* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #00274D 0%, #005792 100%);
}